body {
    background-color: #EFEFEF;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
}

.topbox {
    background-color: #FFF;
    text-align: center;
    border-radius: 5px;
}

.alert-box, .error, .radius {
    border: #222;
}

.alert-box > p {
    color: #FFF;
    font-weight: bold;
    margin-bottom: 0;
}

label {
    font-weight: bold;
}
